# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
.env
venv/

# Streamlit
.streamlit/secrets.toml

# Models
models/*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
*.json
*.parquet
