# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
.env
venv/

# Flask
instance/
.webassets-cache

# Models
models/*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# GCP
.gcloudignore
